@import '~bootstrap/scss/bootstrap';
@import 'partials/style-home.scss';
@import 'partials/style-admin.scss';
@import 'partials/style-projects.scss';
@import 'partials/style-types.scss';
@import 'partials/style-technologies.scss';
